manifest { 
    description = 'SNP Calling pipeline using BWA and GATK'
    nextflowVersion = '>=22.04.5'    
}

profiles {
    standard {
        process.container = 'docker.io/jdetras/snp-calling'
    }
    
    docker {
        process.container = 'docker.io/jdetras/snp-calling'
        docker.enabled = true
        runOptions = '-u $(id -u):$(id -g)'
    }
}
